@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

@theme {
  --color-primary: #0284c7; /* sky-600 */
  --color-primary-dark: #0369a1; /* sky-700 */
  --color-secondary: #0ea5e9; /* sky-500 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: 'Inter', sans-serif;
  }
}
